

.App {
  text-align: center;
}

.App-header {
  background-color: #070631;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  color: #eee;
  font-family: 'Inter', sans-serif;
}

.startbtn {
  /** similar to spotify button style **/
  background-color: #1db954;
  font-size: 50px;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  white-space: normal;
}
.titlestyle {
  font-size: 45px;
  font-family: 'Inter', sans-serif;
  line-height: 1;
}

.subheader {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  line-height: 1;
}

.lyricstyle{
  font-family: 'Inter', sans-serif;
  background-color: #070631;
  color: white;
}

